extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block contenido
    h1(class="text-center text-3xl font-extrabold text-white")= name
    div(class="py-5 flex justify-center mb-8")
        div(class="bg-indigo-50 rounded-xl py-10 w-full max-w-lg my-10") 

            div(class='flex flex-col md:flex-row items-center justify-center p-5')
                div(class='w-full md:w-6/12 px-5 flex justify-center')
                    //- img(src="/img/usuario.png", alt="Imagen de perfil")
                    //- a(href="/foto-perfil" class='text-indigo-600') Cambiar foto de perfil 
                div(class='w-full md:w-6/12 flex flex-col items-center md:items-start text-lg')
                    p(class='mb-4')=`Name: ${name}`
                    p(class='mb-4')=`Email: ${email}` 
                    p(class='mb-4')=`${total} Jobs shared`
                    p(class='mb-4')=`${totalMensajes} Resumes`
            div(class="flex justify-center py-3")
                a(class="w-full md:w-2/3 py-3 bg-blue-600 hover:bg-blue-700 rounded-xl text-white text-center font-bold uppercase cursor-pointer" href=`/edit-profile/${id}`) Edit information
