extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block contenido
    div(class="py-5")
        h1(class="text-center text-4xl font-extrabold text-white") Good see you
            br
            span(class='text-white')=name
    div(class='flex justify-center bg-indigo-50 rounded-xl py-5') 
        div(class='w-full md:w-8/12 lg:w-6/12 flex flex-col items-center md:flex-row')
            div(class='w-8/12 lg:w-6/12 px-5')
                img(src="/img/usuario.png", alt="Imagen de perfil")
                a(href="/foto-perfil" class='text-indigo-600') Cambiar foto de perfil 
            div(class='md:w-8/12 lg:w-6/12 px-5 flex flex-col items-center md:justify-center md:items-start py-10 md:py-10 text-xl')
                p(class='mb-4')=`Name:${name}`
                p(class='mb-4')=`Email:${email}` 
                p(class='mb-4')=total 
                    span(class='font-normal')  Jobs shared
                p(class='mb-4')=totalMensajes 
                    span(class='')  Resumes
    div(class="flex justify-center py-3")
        a(class="w-2/12 py-3 bg-blue-600 hover:bg-blue-700 rounded-xl text-white text-center font-bold uppercase cursor-pointer" href=`/edit-profile/${id}`) Edit information
    